@{
    ViewData["Title"] = "SoccerSoccer Information | Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Soccer! </h1>
    <div>
        <h3>SELECT AN OPTION:</h3>
        <div class="optionList">
            <div class="optionItem"><a href="~/Soccer/Index">Soccers</a></div>
        </div>
    </div>
</div>


